body,html {
  height: 100%;
}

body {
  min-height: 100%;
}

header {
    text-align: center;
    color: #fff;
}

.gallery-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 .tabsection {
   height: 80%;
   color: white;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }

 .gallery {
   height: 60%;
 }

.jumbotron {

  font-size: 24px;
  background-image: url('../img/jumbotron.jpg');
}

.tabview {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
  height: 80%;
}

.container {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    height: 100%;
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.jumbotron {

}

@media (min-width: 768px)
.container {
    height: 500px;
}
